a {
                color:rgb(96, 148, 119);
            }
            header {
                background-color:pink;
                text-shadow: 5px 3px 5px rgb(54, 53, 53);

            }
            h1{
                font-size: 50px;
            }
            p {
                font-size: 1em;
                
                font-family:Georgia, 'Times New Roman', Times, serif;
            }
            h4{
                font-size: 1.3em;
                font-family:Georgia, 'Times New Roman', Times, serif;
            }
            #wrapper {
                width: 80%;
                margin-right: auto;
                margin-left: auto;
            }