#wrapper {
    display: grid;
    grid-auto-rows: minmax(0,auto);
    grid-template-columns: minmax(0px,1fr) repeat(6,minmax(0,175px)) minmax(0px,1fr);
    background-color: black;
}

header{
    background-color: lightgray;
    height: 100px;
    grid-row: 1 / 2;
    grid-column:2 / -2;
    text-align: left;
    padding-left: 100px;
    font-size: 50px;
    padding-top: 20px;
    background-image: url('/Users/d00545084/Desktop/Screenshot 2026-03-16 at 3.56.31 PM.png');
    background-position: left;
    background-repeat: no-repeat;
    background-origin: content-box;
    border-image-width: 30px;


}

nav{
    height: 50px;
    grid-row: 2 / 3;
    grid-column: 2 / -2;
    font-weight: bold;
    text-decoration: none;
    padding: 0;
    margin:0;
    position: sticky;
    top: 0;
    background-color: grey;
    border-top: 10px solid black;
    border-bottom: 10px solid black;

}

nav a{
    text-decoration: none;
    color: black;
    padding: 1rem 0rem;
    display: block;
    text-align: center;
}
nav a:hover {
    background-color: lightgray;
    
}
nav ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    background-color: grey;
}
nav ul li{
    width: 100%;

}

#hero {
    /* width  and border*/
    background-image:url(borgor.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 15px solid white;
    margin: 20px;
    height: 700px;
    grid-row:5 / 6;
    grid-column:2 / 8;
}
#hero h1{
    font-size: 50px;
    font-style: normal;
    text-wrap: wrap;
    width: 600px;

}
main{
    background-color: white;
    height: 400px;
    grid-row: 6 / 7;
    grid-column: 2 / -2;
    display: grid;
    font-weight: bold;
    color: black
}

#box1 {
    /* grid-area: rowstart/columnstart/rowend/columnend */
    grid-area: 1/1/2/2;
    background-color: gray;
    /*border: 5px solid black;*/
}

#box2 {
    grid-area: 1/2/2/3;
    background-color: darkgray;
}

#box3 {
    grid-area: 1/3/2/4;
    background-color: lightgrey;
}

footer {
    background-color: grey;
    height: 100px;
    grid-row:7 / 8;
    grid-column: 2 / -2;
}
@media only screen and (max-width: 992px){
header{
    text-align: center;
    padding-left: 0px;
    background-position: center;
}
}
@media only screen and (max-width: 768px){
 nav ul{
    flex-flow: column nowrap;
    text-align: center;
 }
 nav{
    border-top: 0px solid black;
    border-bottom: 0px solid black;
    position: static;
 }
 #hero {
    height: 110px;
    background-image: none;
    border: none;
    
 }
 #hero h1{
    display: none;
 }
 }
